<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
  <div class="footer-width-fixer"> <div data-elementor-type="wp-post" data-elementor-id="34" class="elementor elementor-34">
  <div class="elementor-element elementor-element-1fe23be e-con-full e-flex e-con e-parent" data-id="1fe23be" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}" data-core-v316-plus="true">
  <div style="background-color: #f6f0ea;" class="elementor-element elementor-element-60b501a e-con-full e-flex e-con e-child" data-id="60b501a" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-element elementor-element-fe144c6 elementor-widget elementor-widget-image" data-id="fe144c6" data-element_type="widget" data-widget_type="image.default">
  <div class="elementor-widget-container">
  <img width="200" height="29" src="wp-content/uploads/2023/10/img-footer-1-min.png" class="attachment-full size-full wp-image-264" alt loading="lazy" /> </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-1696558 e-flex e-con-boxed e-con e-parent" data-id="1696558" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;content_width&quot;:&quot;boxed&quot;}" data-core-v316-plus="true">
  <div class="e-con-inner">
  <div class="elementor-element elementor-element-ff97080 e-con-full e-flex e-con e-child" data-id="ff97080" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-element elementor-element-6f9645b e-con-full e-flex e-con e-child" data-id="6f9645b" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-69200e5 elementor-widget elementor-widget-site-logo" data-id="69200e5" data-element_type="widget" data-widget_type="site-logo.default">
  <div class="elementor-widget-container">
  <div class="hfe-site-logo">
  <a data-elementor-open-lightbox class="elementor-clickable" href="/">
  <div class="hfe-site-logo-set">
  <div class="hfe-site-logo-container" style="display: flex; justify-content: center;">
  <img class="hfe-site-logo-img elementor-animation-" style="width: 13%;" src="wp-content/uploads/royallogo.png" alt />
  </div>
  </div>
  </a>
  </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-02810dc e-con-full e-flex e-con e-child" data-id="02810dc" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-829e348 e-con-full e-flex e-con e-child" data-id="829e348" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-ced7554 subtitle-position-above elementor-widget elementor-widget-heading" data-id="ced7554" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  <div class="elementor-heading-wrapper-inner"><h2 class="elementor-heading-title elementor-size-large">Find us</h2></div> </div>
  </div>
  <div class="elementor-element elementor-element-f30ffff elementor-widget__width-initial elementor-widget elementor-widget-text-editor" data-id="f30ffff" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
    No.831,4th Floor,NGS Arcade Old Madras rd,
    K.R.Puram, Bengaluru, Karnataka- 560036. </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-5a35262 e-con-full e-flex e-con e-child" data-id="5a35262" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-350bc3b elementor-mobile-align-center subtitle-position-above elementor-widget elementor-widget-heading" data-id="350bc3b" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  <div class="elementor-heading-wrapper-inner"><h2 class="elementor-heading-title elementor-size-large">Contact Us</h2></div> </div>
  </div>
  <div class="elementor-element elementor-element-be8ca77 e-con-full e-flex e-con e-child" data-id="be8ca77" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-ad8cdf0 elementor-widget elementor-widget-text-editor" data-id="ad8cdf0" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
    +917899998393 </div>
  </div>
  <div class="elementor-element elementor-element-bd1c612 elementor-widget elementor-widget-text-editor" data-id="bd1c612" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
  <u><a href="mailto:info.royaltreat01@gmail.com">info.royaltreat01@gmail.com</a></u></p></u> </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-f088461 e-con-full e-flex e-con e-child" data-id="f088461" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-e8cf86c elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e8cf86c" data-element_type="widget" data-widget_type="icon-list.default">
  <div class="elementor-widget-container">
  <ul class="elementor-icon-list-items">
  <li class="elementor-icon-list-item">
  <span class="elementor-icon-list-text">Mon - Sat: 10am - 6pm</span>
  </li>
  <li class="elementor-icon-list-item">
  <span class="elementor-icon-list-text">Sunday: Closed</span>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-8f1a02a e-con-full e-flex e-con e-child" data-id="8f1a02a" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-5d6c3ef elementor-widget__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-text-editor" data-id="5d6c3ef" data-element_type="widget" data-widget_type="text-editor.default">
 
    <div class="elementor-element elementor-element-189dcb8 subtitle-position-above elementor-widget elementor-widget-heading" data-id="189dcb8" data-element_type="widget" data-widget_type="heading.default">
      <div class="elementor-widget-container">
      <div class="elementor-heading-wrapper-inner"><h2 class="elementor-heading-title elementor-size-large"> Let&#8217;s create unforgettable moments!</h2></div> </div>
      </div>

      <br/>

    <div class="elementor-widget-container">
      Royal Treat Pary Hall is also best suited for Birthday Parties, Baby shower, Baby Naming cermony, Engagements,Corporate Trainings, Private Parties, Company get together parties.</div>
  </div>
 
  <div class="elementor-element elementor-element-0669aeb form-mailchimp-style-1 elementor-widget__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-catera-mailchmip" data-id="0669aeb" data-element_type="widget" data-widget_type="catera-mailchmip.default">
  <div class="elementor-widget-container">
  <div class="form-style"><script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>(function() {
    window.mc4wp = window.mc4wp || {
      listeners: [],
      forms: {
        on: function(evt, cb) {
          window.mc4wp.listeners.push(
            {
              event   : evt,
              callback: cb
            }
          );
        }
      }
    }
  })();
  </script><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-593" method="post" data-id="593" data-name>
    <!-- <div class="mc4wp-form-fields">
    <p>
  <input type="email" name="EMAIL" placeholder="your email..." required />
  </p>
  <p>
  <button type="submit">subscribe<i class="catera-icon-arrow-right-1"></i></button>
  </p>
</div> -->
<label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1700234340" /><input type="hidden" name="_mc4wp_form_id" value="593" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div></form></div> </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-967fe26 e-con-full e-flex e-con e-child" data-id="967fe26" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-a2ef3df elementor-mobile-align-center subtitle-position-above elementor-widget elementor-widget-heading" data-id="a2ef3df" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  <div class="elementor-heading-wrapper-inner"><h2 class="elementor-heading-title elementor-size-large">Explore</h2></div> </div>
  </div>
  <div class="elementor-element elementor-element-b6299ea elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="b6299ea" data-element_type="widget" data-widget_type="icon-list.default">
  <div class="elementor-widget-container">
  <ul class="elementor-icon-list-items">
  <li class="elementor-icon-list-item">
  <a href="/">
  <span class="elementor-icon-list-text">Home</span>
  </a>
  </li>
  <li class="elementor-icon-list">
  <a href="/about">
  <span class="elementor-icon-list-text">About</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/services">
  <span class="elementor-icon-list-text">Services</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Gallery</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/contact">
  <span class="elementor-icon-list-text">Contact</span>
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-37fb29d e-con-full e-flex e-con e-child" data-id="37fb29d" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-3897ed7 subtitle-position-above elementor-widget elementor-widget-heading" data-id="3897ed7" data-element_type="widget" data-widget_type="heading.default">
  <div class="elementor-widget-container">
  <div class="elementor-heading-wrapper-inner"><h2 class="elementor-heading-title elementor-size-large">Events</h2></div> </div>
  </div>
  <div class="elementor-element elementor-element-6c46fe2 elementor-mobile-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="6c46fe2" data-element_type="widget" data-widget_type="icon-list.default">
  <div class="elementor-widget-container">
  <ul class="elementor-icon-list-items">
  <li class="elementor-icon-list-item">
    <a href="/gallery">
  <span class="elementor-icon-list-text">Birthday </span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Anniversary</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Social Events </span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Engagement</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Official</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Baby Shower</span>
  </a>
  </li>
  <li class="elementor-icon-list-item">
  <a href="/gallery">
  <span class="elementor-icon-list-text">Get Together</span>
  </a>
  </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-450ada4 e-con-full e-flex e-con e-child" data-id="450ada4" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-5285182 elementor-widget elementor-widget-image" data-id="5285182" data-element_type="widget" data-widget_type="image.default">
  <div class="elementor-widget-container">
  <img width="1291" height="20" src="wp-content/uploads/2023/10/divide-min.png" class="attachment-full size-full wp-image-263" alt loading="lazy" srcset="https://demo2.pavothemes.com/catera/wp-content/uploads/2023/10/divide-min.png 1291w, https://demo2.pavothemes.com/catera/wp-content/uploads/2023/10/divide-min-300x5.png 300w, https://demo2.pavothemes.com/catera/wp-content/uploads/2023/10/divide-min-1024x16.png 1024w, https://demo2.pavothemes.com/catera/wp-content/uploads/2023/10/divide-min-768x12.png 768w" sizes="(max-width: 1291px) 100vw, 1291px" /> </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-bdde091 e-con-full e-flex e-con e-child" data-id="bdde091" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-099b6e6 e-con-full e-flex e-con e-child" data-id="099b6e6" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-9bef095 elementor-widget elementor-widget-text-editor" data-id="9bef095" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
  Copyright © 2023 <a href="/" style="color:#EBC6A4"> Royal Treat</a>. All rights reserved </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-329aa5d e-con-full e-flex e-con e-child" data-id="329aa5d" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-9dced7d elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="9dced7d" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
  follow us </div>
  </div>
  <div class="elementor-element elementor-element-ef928f5 elementor-shape-rounded elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-id="ef928f5" data-element_type="widget" data-widget_type="social-icons.default">
  <div class="elementor-widget-container">
  <div class="elementor-social-icons-wrapper elementor-grid">
  <span class="elementor-grid-item">
  <a class="elementor-icon elementor-social-icon elementor-social-icon-catera-icon-facebook-f elementor-animation-pop elementor-repeater-item-c680bd6" href="https://www.facebook.com/PavoThemes/" target="_blank">
  <span class="elementor-screen-only">Catera-icon-facebook-f</span>
  <i class="catera-icon- catera-icon-facebook-f"></i> </a>
  </span>
  <!-- <span class="elementor-grid-item">
  <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-pop elementor-repeater-item-82d2455" href="https://twitter.com/PavoThemes/" target="_blank">
  <span class="elementor-screen-only">Twitter</span>
  <i class="fab fa-twitter"></i> </a>
  </span> -->
  <span class="elementor-grid-item">
  <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-pop elementor-repeater-item-585af43" href="https://instagram.com/royaltreat_partyhall?igshid=MzMyNGUyNmU2YQ==" target="_blank">
  <span class="elementor-screen-only">Instagram</span>
  <i class="fab fa-instagram"></i> </a>
  </span>
  <!-- <span class="elementor-grid-item">
  <a class="elementor-icon elementor-social-icon elementor-social-icon-catera-icon-pinterest elementor-animation-pop elementor-repeater-item-0d34530" href="https://www.facebook.com/profile.php?id=61554099209456&mibextid=ZbWKwL" target="_blank">
  <span class="elementor-screen-only">Catera-icon-pinterest</span>
  <i class="catera-icon- catera-icon-pinterest"></i> </a>
  </span> -->
  <span class="elementor-grid-item">
  <a class="elementor-icon elementor-social-icon elementor-social-icon-catera-icon-youtube1 elementor-animation-pop elementor-repeater-item-774cd32" href="https://youtube.com/@RoyalTreatPartyHall?si=R5obH8-NABNpuSZa" target="_blank">
  <span class="elementor-screen-only">Catera-icon-youtube1</span>
  <i class="catera-icon- catera-icon-youtube1"></i> </a>
  </span>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> </footer>