<header id="masthead" itemscope="itemscope" itemtype="https://schema.org/WPHeader" >
  <p class="main-title bhf-hidden" itemprop="headline"><a href="https://demo2.pavothemes.com/royaltreatt" title="royaltreatt" rel="home">royaltreatt</a></p>
  <div data-elementor-type="wp-post" data-elementor-id="32" class="elementor elementor-32">
  <div class="elementor-element elementor-element-68f1996 e-con-full e-flex e-con e-parent" data-id="68f1996" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;position&quot;:&quot;absolute&quot;}" data-core-v316-plus="true">
  <div class="elementor-element elementor-element-866be9e e-con-full e-flex e-con e-child" data-id="866be9e" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-612efd1 elementor-widget elementor-widget-site-logo" data-id="612efd1" data-element_type="widget" data-widget_type="site-logo.default">
  <div class="elementor-widget-container">
  <div class="hfe-site-logo">
  <a data-elementor-open-lightbox class="elementor-clickable" href="/">
  <div class="hfe-site-logo-set">
  <div class="hfe-site-logo-container">
  <img class="hfe-site-logo-img elementor-animation-" style="width:37%" src="wp-content/uploads/royallogo.png" alt />
  </div>
  </div>
  </a>
  </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-8666ecc e-con-full e-flex e-con e-child" data-id="8666ecc" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-a853989 elementor-hidden-tablet elementor-hidden-mobile_extra elementor-hidden-mobile elementor-widget elementor-widget-royaltreatt-nav-menu" data-id="a853989" data-element_type="widget" data-widget_type="royaltreatt-nav-menu.default">
  <div class="elementor-widget-container">
  <div class="elementor-nav-menu-wrapper">
  <nav class="main-navigation" role="navigation" aria-label="Primary Navigation">
  <div class="primary-navigation"><ul id="menu-1-a853989" class="menu"><li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-129">
    <a href="/"><span class="menu-title">Home</span></a>  
  <!-- <ul class="sub-menu">
  <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-18 current_page_item menu-item-122"><a href="index.html"><span class="menu-title">Home 1</span></a></li>
  <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="home-2/index.html"><span class="menu-title">Home 2</span></a></li>
  <li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="home-3/index.html"><span class="menu-title">Home 3</span></a></li>
  </ul> -->
  </li>
  <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/about"><span class="menu-title">About</span></a></li>
  <li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="/services"><span class="menu-title">Services</span></a></li>
  <!-- <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127"><a href="services/index.html"><span class="menu-title">Services</span></a>
  <ul class="sub-menu">
  <li id="menu-item-2478" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2478"><a href="services/index.html"><span class="menu-title">All Events</span></a></li>
  <li id="menu-item-1068" class="menu-item menu-item-type-post_type menu-item-object-royaltreatt_service menu-item-1068"><a href="service/corporate/index.html"><span class="menu-title">Corporate</span></a></li>
  <li id="menu-item-1071" class="menu-item menu-item-type-post_type menu-item-object-royaltreatt_service menu-item-1071"><a href="service/weddings/index.html"><span class="menu-title">Weddings</span></a></li>
  <li id="menu-item-1070" class="menu-item menu-item-type-post_type menu-item-object-royaltreatt_service menu-item-1070"><a href="service/social-events/index.html"><span class="menu-title">Social Events</span></a></li>
  <li id="menu-item-1069" class="menu-item menu-item-type-post_type menu-item-object-royaltreatt_service menu-item-1069"><a href="service/parties/index.html"><span class="menu-title">Parties</span></a></li>
  </ul>
  </li> -->
  
  <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-125"><a href="/gallery"><span class="menu-title">Gallery</span></a>
  </li>
  <!-- <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-125"><a href="menu/index.html"><span class="menu-title">Menus</span></a>
  <ul class="sub-menu">
  <li id="menu-item-2482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2482"><a href="menu/index.html"><span class="menu-title">All Menus</span></a></li>
  <li id="menu-item-2483" class="menu-item menu-item-type-post_type menu-item-object-royaltreatt_menu menu-item-2483"><a href="menus/classic-wedding/index.html"><span class="menu-title">Menu Details</span></a></li>
  </ul>
  </li> -->
  
  <!-- <li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-128"><a href="venue/index.html"><span class="menu-title">Venues</span></a>
  <ul class="sub-menu">
  <li id="menu-item-2486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2486"><a href="venue/index.html"><span class="menu-title">All Venues</span></a></li>
  <li id="menu-item-2485" class="menu-item menu-item-type-post_type menu-item-object-royaltreatt_venue menu-item-2485"><a href="venues/the-landmark/index.html"><span class="menu-title">Venue Details</span></a></li>
  </ul>
  </li> -->
  
  <!-- <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-123"><a href="blog/index.html"><span class="menu-title">Blog</span></a>
  <ul class="sub-menu">
  <li id="menu-item-591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-591"><a href="blog/index.html"><span class="menu-title">Blog Style 1</span></a></li>
  <li id="menu-item-592" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-592"><a href="blog/index6f42.html?blog_style=style-1&amp;posts_per_page=10&amp;blog_sidebar=none"><span class="menu-title">Blog Style 2</span></a></li>
  <li id="menu-item-1630" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1630"><a href="culinary-creativity-signature-dishes-for-your-event-menu/index.html"><span class="menu-title">Single Post</span></a></li>
  </ul>
  </li> -->
  <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-132"><a href="/contact"><span class="menu-title">Contact</span></a>
  
  </li>
  <!-- <li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-132"><a href="#"><span class="menu-title">Pages</span></a>
  <ul class="sub-menu">
  <li id="menu-item-586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-586"><a href="/gallery"><span class="menu-title">Gallery</span></a></li>
  <li id="menu-item-585" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585"><a href="faq/index.html"><span class="menu-title">FAQs</span></a></li>
  <li id="menu-item-587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-587"><a href="/contact"><span class="menu-title">Contact</span></a></li>
  <li id="menu-item-1273" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1273"><a href="404.html"><span class="menu-title">404</span></a></li>
  </ul>
  </li> -->
  
  </ul></div> </nav>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-2d557a0 elementor-hidden-desktop elementor-hidden-laptop elementor-hidden-tablet_extra royaltreatt-canvas-menu-layout-2 elementor-widget elementor-widget-royaltreatt-menu-canvas" data-id="2d557a0" data-element_type="widget" data-widget_type="royaltreatt-menu-canvas.default">
  <div class="elementor-widget-container">
  <div class="elementor-canvas-menu-wrapper">
  <a href="#" class="menu-mobile-nav-button">
  <span class="toggle-text screen-reader-text">Menu</span>
  <div class="royaltreatt-icon">
  <span class="icon-1"></span>
  <span class="icon-2"></span>
  <span class="icon-3"></span>
  </div>
  </a>
  </div>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-e513e8c e-con-full elementor-hidden-mobile e-flex e-con e-child" data-id="e513e8c" data-element_type="container" data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
  <div class="elementor-element elementor-element-6deeed4 elementor-widget elementor-widget-text-editor" data-id="6deeed4" data-element_type="widget" data-widget_type="text-editor.default">
  <!-- <div class="elementor-widget-container">
  call us </div> -->
  </div>
  <div class="elementor-element elementor-element-dc8b74a elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="dc8b74a" data-element_type="widget" data-widget_type="icon-list.default">
  <div class="elementor-widget-container">
  <ul class="elementor-icon-list-items" style="display: flex;">
  <li class="elementor-icon-list-item">
  <span class="elementor-icon-list-icon">
    <a href="tel:+917899998393">
  <i aria-hidden="true" class="royaltreatt-icon- royaltreatt-icon-phone-03"></i></a> </span>
  <!-- <span class="elementor-icon-list-text">+917899998393</span> -->
  </li>
  <li class="elementor-icon-list-item">
    <a href="https://www.facebook.com/profile.php?id=61554099209456&mibextid=ZbWKwL">
  <span class="elementor-icon-list-icon">
    <i class="fab fa-facebook"></i></span>
  <!-- <span class="elementor-icon-list-text">+917899998393</span> -->
    </a>
  </li>
  <li class="elementor-icon-list-item">
    <a href="https://instagram.com/royaltreat_partyhall?igshid=MzMyNGUyNmU2YQ==">
  <span class="elementor-icon-list-icon">
    <i class="fab fa-instagram"></i> </span>
  <!-- <span class="elementor-icon-list-text">+917899998393</span> -->
  </a>
</li>
<li class="elementor-icon-list-item">
  <a href="https://youtube.com/@RoyalTreatPartyHall?si=R5obH8-NABNpuSZa">	
  <span class="elementor-icon-list-icon">
    <i class="fab fa-youtube"></i> </span>
  <!-- <span class="elementor-icon-list-text">+917899998393</span> -->
    </a>	
    </li>
  </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
  </header>